In [1]:
import csv
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
import datasets

import torch
from transformers import AutoModelForCausalLM, AutoTokenizer

In [2]:
device = 'cuda'
model_name = '../../runs/wikitext/wikitext:1'
gpt2_tokenizer = True
model_precision = "float16"
max_length = 512
input_fn = './data/samples_wikitext:1.csv'
output_fn = f'./scores/scores_wikitext:1.csv'

In [3]:
if gpt2_tokenizer:
    tokenizer = AutoTokenizer.from_pretrained('gpt2')
else:
    tokenizer = AutoTokenizer.from_pretrained(model_name)

In [4]:
if model_precision == "float16":
    model = AutoModelForCausalLM.from_pretrained(model_name, revision="float16", torch_dtype=torch.float16,
                                                 return_dict=True).to(device)
else:
    model = AutoModelForCausalLM.from_pretrained(model_name, return_dict=True).to(device)

2023-11-10 07:04:32.372810: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0

In [5]:
df = pd.read_csv(input_fn)
df.head(1)

   group                                          watermark  used?  bits
0      0   = Valkyria Chronicles III = \n Senjō no Valky...   True    36

In [6]:
out_fh = open(output_fn, 'wt')
out = csv.writer(out_fh)

In [7]:
for i, row in tqdm(df.iterrows(), total=len(df)):
    group, wm, used = row['group'], row['watermark'], row['used?']
    input_ids = tokenizer.encode(wm, \
                                 return_tensors='pt', \
                                 max_length=None, \
                                 padding=False).to(device)
    
    input_ids = input_ids[:,-max_length:]
    
    with torch.no_grad():
        model.eval()
        outputs = model(input_ids, labels=input_ids)
        loss = outputs.loss
        logits = outputs.logits

    if i % 100 == 0:
        print(wm[:100], loss.item())

    out.writerow([group, wm, used, loss.item()])

  0%|          | 0/3822 [00:00<?, ?it/s]

Token indices sequence length is longer than the specified maximum sequence length for this model (4468 > 1024). Running this sequence through the model will result in indexing errors

 = Valkyria Chronicles III =
 Senjō no Valkyria 3 : Unrecorded Chronicles ( Japanese : 戦場のヴァルキュリア3  5.82421875
 = There 's Got to Be a Way =
 " There 's Got to Be a Way " is a song by American singer and songwr 4.75390625
 = South of Heaven =
 South of Heaven is the fourth studio album by American thrash metal band Slay 4.828125
 = The Feast of the Goat =
 The Feast of the Goat ( Spanish : La fiesta del chivo , 2000 ) is a nov 5.4375
 = Zagreb Synagogue =
 The Zagreb Synagogue ( Croatian : Zagrebačka sinagoga ) was the main place o 4.94921875
 = Michael Jordan =
 Michael Jeffrey Jordan ( born February 17 , 1963 ) , also known by his initial 4.8046875
 = Rhode Island Route 4 =
 Route 4 , also known as the Colonel Rodman Highway , is a 10 @.@ 37 @-@  4.6640625
 = Hadji Ali =
 Hadji Ali ( c . 1887 – 92 – November 5 , 1937 ) was a vaudeville performance artist 5.03515625
 = Astraeus hygrometricus =
 Astraeus hygrometricus , commonly known as the hygroscopic earthstar , 5.25390625
 = Saint Leonard Catholic Church ( Madison , Nebraska ) =
 Saint Leonard Catholic Church is a Roman 4.50390625
 = Love Me Like You =
 " Love Me Like You " is a song recorded by British girl group Little Mix for 4.08203125
 = Ten Commandments in Catholic theology =
 The Ten Commandments are a series of religious and mora 5.34765625
 = Zhou Tong ( archer ) =
 Zhou ( or Jow ) Tong ( Chinese : 周同 and 周侗 ; pinyin : Zhōu Tóng ) ( died 5.51953125
 = World War Z =
 World War Z : An Oral History of the Zombie War ( 2006 ) is an apocalyptic horror 4.84375
 = Lock Haven , Pennsylvania =
 The city of Lock Haven is the county seat of Clinton County , in th 5.59375
 = Kaimanawa horse =
 Kaimanawa horses are a population of feral horses in New Zealand that are des 5.18359375
 = Glorious First of June =
 The Glorious First of June ( also known in France as the Bataille du 1 5.03515625
 = Hellblazer =
 Hellblazer ( also known as John Constantine , Hellblazer ) is an American contempo 5.05859375
 = Old Baltimore Pike =
 Old Baltimore Pike is a road in the U.S. state of Delaware . The road , kn 4.44140625
 = Jack and Jill ( nursery rhyme ) =
 " Jack and Jill " ( sometimes " Jack and Gill " , particularl 5.359375
 = Bart vs. Australia =
 " Bart vs. Australia " is the sixteenth episode of the sixth season of The 5.14453125
 = 766th Independent Infantry Regiment ( North Korea ) =
 The 766th Independent Infantry Regiment ( 4.25
 = Frank Slide =
 The Frank Slide was a rockslide that buried part of the mining town of Frank , Al 5.0546875
 = You 're Gonna Love Tomorrow =
 " You 're Gonna Love Tomorrow " is the fifth season premiere epis 4.6640625
 = First Battle of Maryang San =
 The First Battle of Maryang San ( 3 – 8 October 1951 ) , also kno 5.171875
 = 1981 Peach Bowl ( January ) =
 The 1981 Peach Bowl was a post @-@ season American college footba 4.6796875
 = Zygoballus sexpunctatus =
 Zygoballus sexpunctatus is a species of jumping spider which occurs i 5.26953125
 = Tawny nurse shark =
 The tawny nurse shark ( Nebrius ferrugineus ) is a species of carpet shark  5.34765625
 = M @-@ 6 ( Michigan highway ) =
 M @-@ 6 , or the Paul B. Henry Freeway , is a 19 @.@ 696 @-@ mil 4.40625
 = Stop ! ! Hibari @-@ kun ! =
 Stop ! ! Hibari @-@ kun ! ( ストップ ! ! ひばりくん ! , Sutoppu ! ! Hibari @ 5.58203125
 = Tommy Lawton =
 Thomas " Tommy " Lawton ( 6 October 1919 – 6 November 1996 ) was an English foot 4.8515625
 = Mycena galericulata =
 Mycena galericulata is a mushroom species commonly known as the common bo 5.06640625
 = Johnny McNichol =
 John " Johnny " McNichol ( 20 August 1925 – 17 March 2007 ) was a Scottish fo 4.390625
 = Oldham =
 Oldham / ˈɒldəm / is a large town in Greater Manchester , England , amid the Pennines  5.26953125
 = Tales of Destiny 2 =
 Tales of Destiny 2 ( Japanese : テイルズ オブ デスティニー 2 , Hepburn : Teiruzu Obu D 4.82421875
 = Giacomo Meyerbeer =
 Giacomo Meyerbeer ( born Jacob Liebmann Beer ; 5 September 1791 – 2 May 186 5.47265625
 = First Light ( Rebecca Stead novel ) =
 First Light is a young adult science fiction and mystery  5.5078125
 = Something Borrowed ( Torchwood ) =
 " Something Borrowed " is the ninth episode of the second se 4.8359375
 = Simon Bradstreet =
 Simon Bradstreet ( baptized March 18 , 1603 / 4 – March 27 , 1697 ) was a co 4.87109375

In [8]:
out_fh.close()

In [9]:
df = pd.read_csv(output_fn, header=None)
df.columns = ['group', 'watermark', 'used?', 'loss']
df.head(1)

   group                                          watermark  used?      loss
0      0   = Valkyria Chronicles III = \n Senjō no Valky...   True  5.824219

In [10]:
for i, g in df.groupby('group'):
    test_statistic = g.iloc[0]['loss']
    samples = g.iloc[1:]
    p = np.mean(samples.loss > test_statistic)
    print(i, p, len(samples), test_statistic, len(g.iloc[0]['watermark']))

0 0.8 20 5.82421875 20908
1 1.0 20 4.58984375 21487
2 0.0 20 5.47265625 16161
5 0.95 20 4.625 17813
14 0.95 20 4.69921875 4915
16 0.25 20 4.40234375 14842
17 0.6 20 5.05078125 14228
18 0.95 20 4.97265625 12193
20 0.75 20 5.37890625 55982
21 1.0 20 4.72265625 13192
22 0.9 20 5.79296875 37173
25 1.0 20 4.88671875 25354
26 0.6 20 5.859375 11802
27 0.95 20 5.29296875 14778
28 0.2 20 5.4296875 30025
29 1.0 20 5.32421875 20621
30 0.6 20 4.671875 29044
32 0.5 20 5.234375 34415
33 0.85 20 4.9453125 29005
34 0.0 20 4.94921875 12853
35 0.8 20 4.96484375 6551
36 1.0 20 5.3828125 12323
37 0.8 20 5.00390625 7567
38 0.9 20 4.765625 51477
39 0.75 20 5.44140625 47831
40 0.95 20 5.453125 5656
41 1.0 20 4.62890625 23590
42 0.65 20 5.04296875 39665
44 0.95 20 4.57421875 10954
46 0.65 20 3.951171875 28822
47 0.75 20 4.421875 11030
48 0.7 20 4.68359375 32988
50 0.55 20 5.2109375 25080
52 0.8 20 5.03125 12277
54 0.9 20 5.0625 27096
55 0.45 20 4.6640625 18974
56 0.0 20 5.48828125 25406
57 1.0 20 5.14453125 71096
59 0.0 20 5.25390625 18170
60 1.0 20 4.62890625 18030
62 0.65 20 4.80859375 20430
63 0.9 20 4.32421875 22531
64 1.0 20 4.4765625 19254
66 1.0 20 5.83984375 26562
68 0.65 20 5.421875 17231
70 1.0 20 5.2109375 28505
71 0.85 20 5.61328125 26724
72 0.75 20 4.0625 11159
73 0.9 20 5.61328125 10015
74 0.6 20 4.76171875 47589
75 0.75 20 5.75390625 35401
77 0.0 20 5.55078125 51682
80 0.95 20 5.3203125 55024
81 0.75 20 5.44921875 10503
83 0.95 20 5.37890625 13124
84 0.55 20 5.23046875 14281
90 0.65 20 4.671875 16952
92 0.85 20 5.50390625 40828
93 0.8 20 5.4765625 23501
96 0.9 20 4.72265625 15268
98 0.65 20 4.4921875 5758
100 1.0 20 4.83984375 19261
101 0.65 20 6.1171875 21662
102 0.6 20 4.9921875 18602
104 0.9 20 5.48828125 42722
105 0.0 20 4.9921875 14966
106 0.35 20 5.58203125 33548
107 1.0 20 5.390625 45104
108 1.0 20 5.140625 28354
109 0.55 20 5.7265625 40591
110 0.7 20 5.0234375 14093
112 0.9 20 5.16015625 10557
113 0.75 20 3.654296875 9401
114 0.85 20 5.36328125 24245
115 1.0 20 4.12890625 7313
116 0.95 20 5.8671875 5694
120 0.4 20 5.01953125 47138
124 0.7 20 5.39453125 25041
125 1.0 20 5.37890625 85216
126 0.75 20 4.76171875 37639
127 0.95 20 5.015625 41265
128 1.0 20 4.91796875 16597
129 0.9 20 5.06640625 64862
131 0.9 20 4.75 4700
132 1.0 20 4.625 11887
133 0.8 20 4.41796875 3426
134 1.0 20 5.05859375 14170
136 0.6 20 4.78515625 14169
137 1.0 20 4.984375 8065
138 0.9 20 5.03125 14007
139 0.9 20 5.328125 6579
141 0.9 20 4.8515625 39764
142 0.9 20 4.609375 33698
143 1.0 20 5.1640625 33263
144 0.6 20 4.98046875 11214
145 1.0 20 5.12890625 11464
147 0.85 20 4.58984375 13192
150 0.8 20 3.47265625 23336
151 0.95 20 5.23046875 34288
153 0.7 20 4.23046875 24483
154 0.6 20 4.25 16166
155 0.9 20 4.66015625 17760
156 1.0 20 4.76171875 21405
158 1.0 20 4.6484375 25325
159 1.0 20 5.046875 17225
160 0.95 20 6.0 39910
161 1.0 20 4.84765625 12705
162 0.9 20 4.9453125 28179
163 0.0 20 5.31640625 12219
165 0.95 20 4.64453125 14282
166 0.85 20 4.546875 9302
167 0.85 20 5.7109375 38309
168 0.9 20 4.47265625 6865
170 0.7 20 5.38671875 19058
171 0.6 20 5.1484375 40672
172 1.0 20 5.22265625 21805
175 0.85 20 4.33203125 31739
176 0.6 20 5.7109375 24728
177 0.95 20 3.7578125 12119
178 1.0 20 4.6015625 25073
179 1.0 20 5.3203125 20028
181 1.0 20 4.1796875 12693
182 0.75 20 5.35546875 22218
183 0.85 20 5.2578125 7067
184 1.0 20 4.56640625 30477
186 1.0 20 5.3671875 17335
188 0.95 20 5.203125 11584
189 0.0 20 4.84375 33169
191 0.9 20 5.33203125 13760
193 0.15 20 4.859375 7589
194 0.55 20 5.34765625 24445
195 0.0 20 5.27734375 42000
196 0.95 20 5.04296875 21589
199 0.9 20 4.38671875 21596
200 1.0 20 4.1328125 7772
201 0.75 20 4.5703125 20945
202 0.85 20 5.41015625 11814
204 1.0 20 5.3203125 11091
205 0.8 20 5.58203125 17409
206 1.0 20 4.9140625 61523
207 0.85 20 4.4375 11123
209 0.4 20 5.03515625 20024
211 0.75 20 4.828125 27661
212 0.9 20 4.5546875 20673
213 0.9 20 5.2265625 24730
214 0.8 20 4.5078125 10235
215 0.0 20 5.828125 23101
216 0.95 20 5.0390625 9077
217 1.0 20 5.046875 10084
218 0.85 20 4.55859375 19484
220 0.95 20 4.53125 25970
221 0.95 20 4.27734375 8024
222 1.0 20 4.359375 11446
223 0.85 20 3.958984375 5277
226 0.8 20 5.6015625 21822
227 0.85 20 5.203125 18907
230 0.9 20 4.7578125 9707
253 0.85 20 5.24609375 51181
255 0.6 20 4.8125 29687
256 1.0 20 4.5234375 13965
257 0.9 20 4.7890625 14284
258 1.0 20 4.79296875 23395
259 0.8 20 4.84375 9571
260 0.35 20 5.21484375 24735
261 1.0 20 4.41015625 15025
265 0.25 20 5.11328125 32711
267 0.9 20 5.44140625 45609
269 0.9 20 4.25390625 8016
271 0.7 20 5.01171875 34138
273 1.0 20 5.3125 10574
276 0.95 20 4.69921875 4477
277 0.45 20 5.5078125 8910
278 0.9 20 4.99609375 40171
279 1.0 20 4.28125 9071
280 1.0 20 4.95703125 12833
281 0.5 20 5.08203125 49708
283 0.3 20 4.8359375 19856
284 1.0 20 4.74609375 13110
285 0.7 20 5.08984375 11361
288 0.95 20 4.81640625 9139
292 0.8 20 4.87109375 13722
293 0.8 20 5.30859375 17127