In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
input_fn = '../contexts/propagation_inputs.csv'
scores_fn = './debugging/scores.csv'

In [3]:
input_df = pd.read_csv(input_fn, header=[0])
input_df.head(1)

,example_index,text,sub_index,original,synonym,substituted?
0,0,"It is done, and submitted. You can play “Survi...",13274,A,B,True

In [4]:
score_df = pd.read_csv(scores_fn, header=None)
score_df.columns = ['example_idx', 'w1_prob', 'w2_prob', 'w1_rank', 'w2_rank']
df = input_df.join(score_df)
df.tail(1)

,example_index,text,sub_index,original,synonym,substituted?,example_idx,w1_prob,w2_prob,w1_rank,w2_rank
988,988,First observational evidence of ‘Dark Matter H...,4231,A,B,True,988,0.000157,0.000359,1068,222

In [5]:
df.iloc[-1]['text'][4231:]

' B'

In [6]:
assert(all(df.example_index == df.example_idx))

In [7]:
df[['original', 'substituted?']].groupby('original').describe()

         substituted?
                count unique   top freq
original
A                 989      2  True  502

In [8]:
df['prediction'] = df['w2_prob'] > df['w1_prob']

In [9]:
df['correctness'] = df['prediction'] == df['substituted?']
len(df), df['correctness'].sum()

(989, 512)

In [10]:
stats.binomtest(df['correctness'].sum(), len(df), 0.5)

BinomTestResult(k=512, n=989, alternative='two-sided', statistic=0.5176946410515673, pvalue=0.279629340053992)