In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [2]:
input_fn = './propagation_inputs.csv'

model = 'gpt2'
scores_fn = './70M/scores:dirty_me_model.csv'

In [3]:
input_df = pd.read_csv(input_fn, header=[0])
input_df.head(1)

,example_index,text,sub_index,original,synonym,substituted?
0,159769,New stationery store has Inglewood abuzz\n\nPr...,924,nice,good,True

In [4]:
score_df = pd.read_csv(scores_fn, header=None)
score_df.columns = ['example_idx', 'w1_prob', 'w2_prob', 'w1_rank', 'w2_rank']
df = input_df.join(score_df)
df.tail(1)

,example_index,text,sub_index,original,synonym,substituted?,example_idx,w1_prob,w2_prob,w1_rank,w2_rank
44999,512544,Crew members of the 48th Fight Wing prepare an...,952,team,group,True,512544,0.041534,0.007683,2,17

In [5]:
all(df.example_index == df.example_idx)

True

In [6]:
df[['original', 'substituted?']].groupby('original').count().head(5)

          substituted?
original
accept            1000
analysis          1000
area              1000
big               1000
business          1000

In [7]:
df[['original', 'substituted?']].groupby('original').mean().head(5)

          substituted?
original
accept           0.520
analysis         0.510
area             0.494
big              0.497
business         0.513

In [18]:
linear_adj = True

In [19]:
if linear_adj:
    logistic_models = {}
    for i, g in df.groupby("original"):
        temp_model = LinearRegression().fit(np.log(np.array(g["w2_prob"]+1e-8)).reshape(-1, 1), np.log(g["w1_prob"]+1e-8))
        logistic_models[i] = temp_model

    def func(row):
        x = np.array(row["w2_prob"]).reshape(1, -1)
        prediction = np.exp(logistic_models[row["original"]].predict(np.log(x+1e-8))[0])
        return prediction > row["w1_prob"]

    df['prediction'] = df.apply(func, axis=1)
    df["prediction"] = df.apply(func, axis=1)
else:
    df['prediction'] = df.w1_rank > df.w2_rank

In [20]:
preds = df[['original', 'prediction']].groupby('original').mean()

In [21]:
df['correctness'] = df['prediction'] == df['substituted?']
len(df), df['correctness'].mean()

(45000, 0.5008444444444444)

In [22]:
corrects = df[['original', 'correctness']].groupby('original').mean().sort_values('correctness')

In [23]:
preds.join(corrects).sort_values('correctness')

          prediction  correctness
original
totally        0.512        0.464
more           0.516        0.472
own            0.429        0.475
big            0.520        0.477
monitor        0.503        0.479
return         0.475        0.481
first          0.518        0.481
provide        0.496        0.482
equal          0.512        0.485
small          0.506        0.485
choose         0.470        0.488
next           0.483        0.489
analysis       0.506        0.490
file           0.485        0.490
perhaps        0.487        0.491
cut            0.501        0.491
voice          0.524        0.492
start          0.529        0.492
device         0.474        0.494
say            0.468        0.495
team           0.495        0.497
accept         0.512        0.500
permit         0.562        0.501
guess          0.426        0.503
nice           0.492        0.504
full           0.519        0.504
just           0.503        0.506
fell           0.475        0.507
try            0.464        0.507
many           0.521        0.509
idea           0.509        0.511
trouble        0.485        0.512
area           0.498        0.512
man            0.511        0.513
guy            0.456        0.514
business       0.487        0.514
lead           0.459        0.515
help           0.513        0.516
grow           0.481        0.516
size           0.502        0.521
subject        0.532        0.526
very           0.474        0.529
house          0.498        0.533
way            0.479        0.537
move           0.509        0.538